@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;

    .banner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 30vh;
        background-color: #e6dac9;
        padding-top: 10px;

        h1 {
            font-size: 1.2rem;
            color: #7e4141;
            letter-spacing: 0.25rem;
            margin: 30px 0 20px 0;
        }

        .menu {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            width: 50%;

            a {
                color: #7e4141;
                text-decoration: none;

                &:hover, &.active {
                    text-decoration: underline;
                }
            }
        }
    }

    .mini-cart, .expanded-cart {
        position: absolute;
        top: 25vh;
        right: 3rem;
        cursor: pointer;
    }

    .mini-cart {
        .fa-basket-shopping {
            font-size: 1.5rem;
        }

        .cartBadge {
            position: absolute;
            top: 12px;
            right: -12px;
            display: flex;
            align-items: center;
            justify-content: center;
            min-width: 18px;
            min-height: 18px;
            font-weight: bold;
            color: white;
            font-size: 12px;
            background: #e63946;
            padding: 1px;
            border-radius: 50%;
        }
    }

    .expanded-cart {
        top: 15vh;
        right: 1rem;
        text-align: center;
        background-color: white;
        padding: 0 1rem;
        border-radius: 1rem;

        ul {
            list-style: none;
            padding: 0;
            margin: 0;

            button {
                color: red;
                background: transparent;
                border: none;
                margin-left: 8px;
                cursor: pointer;
            }
        }

        p {
            font-weight: bold;
        }
    }

    .productList {
        display: flex;
        justify-content: center;

        .warning {
            font-size: 1.2rem;
            margin-bottom: 80vh;
        }
    }
    
    .grid {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 3rem;
        margin-top: 2rem;
    
        .line {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-wrap: wrap;
            gap: 3rem;

            &:nth-child(2) {
                margin: 2rem 0;
            }
    
            a {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 30vh;
                flex: 1;
                max-width: 311px;
                text-align: center;
                font-size: 2rem;
                color: white;
                text-decoration: none;
                background: url('/assets/generic.png') no-repeat;
                border-radius: 1rem;
                transition: all 400ms;
    
                &:hover {
                    transform: scale(1.1);
                    box-shadow: 4px 4px 8px grey;
                }
            }

            .product {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                height: 40vh;
                width: 25vw;
                text-align: center;
                border: 1px solid #b1823c;
                border-radius: 1rem;
                cursor: pointer;
                transition: all 400ms;

                div {
                    flex: 1;
                    
                    &:nth-child(2) {
                        width: 100%;
                        background-color: #e2d8c9;
                        border-radius: 0 0 1rem 1rem;

                        .stock {
                            font-weight: bold;
                            color: green;
                        }

                        .no-stock {
                            font-weight: bold;
                            color: red;
                        }
                    }

                    img {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 200px;
                        width: 200px;
                        object-fit: cover;
                    }
                }

                .fullImage {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    img {
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                        border-radius: 1rem;
                        transition: height 400ms;
                    }

                    h3 {
                        position: absolute;
                        bottom: 0;
                        text-decoration: underline;
                        animation: appear 200ms 400ms backwards;
                    }
                }
            }
        }
    }

    .page {
        h2 {
            margin-left: 3vw;
        }

        .productDetail {
            display: flex;
            align-items: center;
            margin: 5vh 0 20vh 0;

            .productImage, .productDescription {
                flex: 1;
                display: flex;
                justify-content: flex-end;
                
                img {
                    border-radius: 1rem;
                }
            }

            .productDescription {
                justify-content: flex-start;
                flex-direction: column;

                h2 {
                    margin: 0 0 0 3vw;
                }
    
                div {
                    text-align: left;
                    margin-left: 3vw;

                    &.no-stock {
                        font-weight: bold;
                        color: red;
                        margin: 1rem 0 1rem 3vw;
                    }

                    &.quantity {
                        margin: 1rem 0 1rem 3vw;

                        &.addToCart {
                            width: 150px;
                            font-weight: bold;
                            color: white;
                            text-align: center;
                            padding: 0.5rem 0.25rem;
                            background-color: #7e4141;
                            border-radius: 1rem;
                            cursor: pointer;

                            &:hover {
                                background-color: #b1823c;
                            }
                        }
                    }
                }

                .quantitySelector {
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    width: 150px;
                    padding: 0.5rem 0.25rem;
                    border: 1px solid #b1823c;
                    border-radius: 1rem;

                    button {
                        font-size: 1.2rem;
                        background: none;
                        border: none;
                        cursor: pointer;

                        &:hover {
                            font-weight: bold;
                        }
                    }
                }

                .caracteristics {
                    margin: 1rem 0 1rem 3vw;
                }
            }
        }

        .admin {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            height: 50vh;
        }
    }
}